<div style="margin-top: 20px; padding: 20px">

  


  <form>
    <!-- <input type="text" 
    [formControlName]="'sampleFormControl'" /> -->


    <div [formGroup]="customersFormGroup">
      <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="TestId">Name</label>
        <div class="col-sm-10">
          <input
            type="text"
            class="form-control"
            id="TestId"
            name="UserName"
            placeholder="User Name"
            [formControlName]="'UserName'"
          />
          <!-- //customersFormGroup.get('UserName').invalid && -->
          <!-- touched: true
value: "John" -->
          <span
            style="color: red"
            *ngIf="
              customersFormGroup.get('UserName').touched &&
              customersFormGroup.get('UserName').value.length == 0
            "
          >
            Please enter the UserName
          </span>
          <!-- null?.something --> 
          <!-- undefined -->

          <!-- null.something --> 
          <!-- VM59523:1 Uncaught TypeError: Cannot read properties of null (reading 'something')
    at <anonymous>:1:6 -->
          <span
            style="color: red"
            *ngIf="
              customersFormGroup.get('UserName')['errors']?.['invalidName']"
          >
            Please do't enter the John Name
          </span>
        </div>
      </div>

      <div style="margin-top: 10px" class="form-group row">
        <label class="col-sm-2 col-form-label" for="Developers"
          >* Developer</label
        >
        <div class="col-sm-10">
          <select
            class="form-control"
            name="modDeveloper"
            [formControlName]="'modDeveloper'"
          >
            <option [value]="item.Id" *ngFor="let item of TeamList">
              {{ item.Name }}
            </option>
          </select>
          <span
            style="color: red"
            *ngIf="
              customersFormGroup.get('modDeveloper').touched &&
              customersFormGroup.get('modDeveloper').invalid
            "
          >
            Please enter the Developer
          </span>
        </div>
      </div>

      <div style="margin-top: 10px" [formGroupName]="'commentsGroup'">
        <div class="form-group row">
          <label class="col-sm-2 col-form-label"> Technical comments</label>
          <div class="col-sm-10">
            <textarea
              class="form-control"
              rows="3"
              name="modComments"
              [formControlName]="'modComments'"
            >
            </textarea>
            <span
              style="color: red"
              *ngIf="
                customersFormGroup.get('commentsGroup.modComments').touched &&
                customersFormGroup.get('commentsGroup.modComments').invalid
              "
            >
              Please enter the Comments
            </span>
          </div>
        </div>

        <div style="margin-top: 10px" class="form-group row">
          <label class="col-sm-2 col-form-label">Review *</label>
          <div class="col-sm-10">
            <textarea
              class="form-control"
              rows="3"
              name="modReview"
              [formControlName]="'modRevieew'"
            >
            </textarea>
            <span
              style="color: red"
              *ngIf="
                customersFormGroup.get('commentsGroup.modRevieew').touched &&
                customersFormGroup.get('commentsGroup.modRevieew').invalid
              "
            >
              Please enter the Review
            </span>
          </div>
        </div>
      </div>

      <div style="margin-top: 10px" class="form-group row">
        <label class="col-sm-2 col-form-label" for="LocationID"
          >Locations</label
        >
        <div [formArrayName]="'Locations'" class="col-sm-3">
          <div
            *ngFor="
              let item of 
              customersFormGroup.get('Locations')['controls'];
              let $index = index"
          >
            {{$index}} <input
              style="margin-top: 10px"
              type="text"
              class="form-control"
              id="LocationID"
              name="Location"
              placeholder="Add Location"
              [formControlName]="$index"
            />

            <!-- customersFormGroup.get('Locations')['controls'][index].touched -->
            <span *ngIf="customersFormGroup.get('Locations')['controls'][$index].touched 
                          && customersFormGroup.get('Locations')['controls'][$index].invalid" 
            style="color: red">
              Please enter the Location
            </span>
          </div>
        </div>
        <div class="col-sm-2">
          <button [disabled]="customersFormGroup.get('Locations').invalid" (click)="evtAddLocation()" class="btn btn-primary">
            +
          </button>
        </div>
      </div>
    </div>
  </form>
</div>

<hr />
<div style="margin-right: 30px">
  <!-- [disabled]="customersFormGroup.invalid" -->
  <button
    
    class="btn btn-primary"
    (click)="evtSubmit()"
  >
    Submit
  </button>
  |
  <button class="btn btn-secondary">Set value</button>

  |
  <button class="btn btn-danger">Patch value</button>

  |
  <button class="btn btn-danger">Reset</button>
</div>

<div></div>

<!-- object i will configure over here -->

<!-- 
Reactive appraoch:
1. we have to write form related things by using the programme
2.  i mean i am writing the form object program. -->

<!-- object and sync ts and html -->

<!-- form group notthing but collection of formcontrols -->

<!-- 
1. i have created the one form group
2 and then i sync that form group into the my html -->
