<div class="container" style="margin-top: 20px">
  <form>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="TestId">Name</label>
      <div class="col-sm-10">
        <input
          type="text"
          class="form-control"
          id="TestId"
          name="UserName"
          placeholder="User Name"
          ngModel
          #userName="ngModel"
          required
        />
        <!-- <span style="color:red !important"
          *ngIf="
            (userName.untouched && userName.pristine) ||
            (userName.dirty && userName.touched && userName.invalid)
          "
          class="form-text text-muted"
        >
          Please enter Test Name</span
        > -->

        <span
          style="color: red !important"
          *ngIf="userName.touched && userName.invalid"
          class="form-text text-muted"
        >
          Please enter Test Name</span
        >

        <!-- ngpristine which is NewTV
      ngDirty    once you open the cover and once you on the tv after doesnot matter

      ngtouched mobile touche
      ngUntouched mobile untouched

      html built in validations
      ngvalid -- you have to enter something
      ngInvalid - you are not giving anything. -->
      </div>
    </div>
  </form>
</div>
