<div class="container" style="margin-top: 20px">
    <!-- Template approach 
    i can take the form object from DOM i can do the validations -->
  
    <!-- Q) i want to see the formObject -->
  
    <!-- A : Viewchild and localref -->
  
    <!-- required email minlengh maxlength -->
  
    <form ngForm #modForm="ngForm">
      <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="TestId">Name</label>
        <div class="col-sm-10">
          <input
            type="text"
            class="form-control"
            id="TestId"
            name="UserName"
            placeholder="User Name"
            ngModel
            #userName="ngModel"
            required
          />
          <!-- <span style="color:red !important"
            *ngIf="
              (userName.untouched && userName.pristine) ||
              (userName.dirty && userName.touched && userName.invalid)
            "
            class="form-text text-muted"
          >
            Please enter Test Name</span
          > -->
  
          <span
            style="color: red !important"
            *ngIf="userName.touched && userName.invalid"
            class="form-text text-muted"
          >
            Please enter User Name</span
          >
  
          <!-- ngpristine which is NewTV
        ngDirty    once you open the cover and once you on the tv after doesnot matter
  
        ngtouched mobile touche
        ngUntouched mobile untouched
  
        html built in validations
        ngvalid -- you have to enter something
        ngInvalid - you are not giving anything. -->
        </div>
      </div>
  
      <div style="margin-top: 10px" class="form-group row">
        <label class="col-sm-2 col-form-label" for="Developers">Developer</label>
        <div class="col-sm-10">
          <select
            class="form-control"
            name="modDeveloper"
            #modDeveloper="ngModel"
            ngModel
            required
          >
            <option [value]="item.Id" *ngFor="let item of TeamList">
              {{ item.Name }}
            </option>
          </select>
          <small *ngIf="modDeveloper.touched && modDeveloper.invalid"
            >Please enter the Team member</small
          >
        </div>
      </div>
  
      <!-- Task for Radio button how to show the some messAGE -->
      <div style="margin-top: 10px" class="form-group row">
        <label class="col-sm-2 col-form-label">Is it relevant?</label>
        <div class="col-sm-10">
          <div class="form-check-inline radio"
           *ngFor="let item of Relavants">
            <input
              name="Relavant"
              id="Relavant{{ item.ID }}"
              class="from-check-input radio"
              type="radio"
              [value]="item.ID"
            />
            {{ item.Name }}
          </div>
  
          <!-- <small *ngIf=""
          >Please sELECT THE RELAVANT NAME</small
          > -->
        </div>
      </div>
  
      <br />
      <br />
  
      <div ngModelGroup="MyCommentsGroup" #commentsGroup="ngModelGroup">
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Technical comments</label>
          <div class="col-sm-10">
            <textarea class="form-control"
              rows="3"
              name="modComments"
              ngModel
              required
              #modComments="ngModel"
            >
            </textarea>
            <span style="color: red !important"
            *ngIf="modComments.touched && modComments.invalid"
            class="form-text text-muted">Please enter the Comments</span>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Review *</label>
          <div class="col-sm-10">
            <textarea  class="form-control"
              rows="3"
              name="modReview"
              ngModel
              required
              #modReview="ngModel"
            >
            </textarea>
            <span style="color: red !important" 
            *ngIf="modReview.touched && modReview.invalid"> Please enter the Review </span>
          </div>
        </div>
      </div>
  
      <div style="margin-top:10px" class="form-group row">
        <label class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
          <input
            type="text"
            class="form-control"
            name="UserEmail"
            placeholder="User Email"
            ngModel
            #UserEmail="ngModel"
            required
            email
            minlength="12"
            maxlength="20"
          />
          <span
            style="color: red !important"
            *ngIf="UserEmail.touched && UserEmail.errors?.['required']"
            class="form-text text-muted"
          >
            Please enter User Email</span
          >
          <br>
          <span
            style="color: red !important"
            *ngIf="UserEmail.touched && UserEmail.errors?.['email']"
            >
            Please enter the proper Email
          </span>
          <br>
          <span
            style="color: red !important"
            *ngIf="UserEmail.touched && UserEmail.errors?.['minlength']"
            >
            Please enter the above 12 charcters
          </span>
          <br>
          <span
            style="color: red !important"
            *ngIf="UserEmail.touched && UserEmail.errors?.['maxlength']"
            >
            Please enter the above 20 charcters
          </span>
        </div>
      </div>
  
      <button [disabled]="_modForm?.invalid" class="btn btn-primary" 
      (click)="evtSubmit()">Submit
    </button>
    |
    <button class="btn btn-secondary" 
    (click)="evtSetValue()">Set value
    </button>
  
    |
    <button class="btn btn-danger" 
    (click)="evtPatchValue()">Patch value
    </button>
  
    |
    <button class="btn btn-danger" 
    (click)="evtReset()">Reset
    </button>
  
    </form>
  </div>